@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&family=Lobster&display=swap");

/* Clearing default CSS by browser */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ****************************************************************** */

body {
  font-family: "Gentium Book Plus", serif;
  /* font-family: 'Lobster', cursive; */
}

main {
  display: flex;
}

.logo-header {
  width: 30%;
  height: 100vh;
}

.main-bg {
  width: 100%;
  height: 100%;
}

.svg-logo {
  top: 30vh;
  position: absolute;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.4);
}

.form-container {
  width: 70%;
}
.form-info {
  font-size: 22px;
  font-weight: 900;
  line-height: 1.2;
  padding: 90px 250px 50px 60px;
  background-color: rgba(189, 189, 189, 0.3);
}

.form {
  padding: 20px 400px 50px 60px;
}

.form h2 {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 30px;
}

.name,
.password,
.contact {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

input,
label {
  display: block;
  font-size: small;
}

input {
  border-radius: 5px;
  width: 250px;
  height: 20px;
  border: 1px lightgrey solid;
}

.submission {
  background-color: rgba(189, 189, 189, 0.3);
  font-size: 18px;
  font-weight: 600;
  padding: 25px 250px 25px 60px;
}

.submission button {
  background-color: rgb(37, 37, 37);
  width: 160px;
  height: 35px;
  padding: 5px;
  color: white;
  margin-bottom: 22git apx;
  border-radius: 5px;
}

.submission button:hover {
  background-color: white;
  color: rgb(37, 37, 37);
}

a {
  text-decoration: none;
  color: grey;
  font-weight: bolder;
  font-size: 32px;
}

a:hover {
  color: black;
}
